<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>CEISMIC Geoguesser</title>
        <script src="/static/js/jquery-3.1.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAKo-dw8hYVazrmnpBjzIKbQduh3OkgXSQ" type="text/javascript"></script>       
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/app.css" rel="stylesheet">
    </head>	
      {% include 'header.html' %}    
    <body>
    <div class="container">			
            {% block content %}
            <div style="padding: 50px"  class="row">
                <div class="col-sm-8">
                    <div class="intro">
                        <h3>Struggling to remember Christchurch?</h3>    
                        <p>The CEISMIC geoguesser is a fun way to test and improve your memory of pre-quake Christchurch. You will see a series of photos taken from the CEISMIC Canterbury Earthquake Digital Archive. For each photo, you will be asked to guess the position where it was taken, which will be within the bounds of "the four avenues" on a map. You will then be scored based on how close each guess was to the actual location.</p>
                        <p>We maintain highscore tables for the best scores across 5, 10, or 20 photos. Challenge your friends to test their own knowledge and see how you meansure up.</p>{% set i = 0 %}
                    </div>
                    <div class="score-table">
                        {% for table in tables %}                            
                            {{table}}
                            {% set i = i+1 %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <img style="width:100%" src="../static/images/copthorne.jpeg"/>   
                    <form class="navbar-form navbar-right" action = "/start" method = 'POST'>
						<label for="5">5</label>
						<input type="radio" name="length" value="5" id="5" checked>
						<label for="10">10</label>
						<input type="radio" name="length" value="10" id="10">
						<label for="20">20</label>
						<input type="radio" name="length" value="20" id="20">
                        <button style="width:200px;height:50px;font-size:18px" value = "Start Game" class="btn btn-success">Start Game</button>                
                    </form>                              
                </div>				
            </div>
            {% endblock %}
    </div>
                      
                {% include 'footer.html' %}
           


</body>
</html>

