{% extends "base.html" %}

{% block content %}
	
	<div class="row">
        <div class="col-sm-12">
            <div id="map" style="width: 100vw; height:60vh"></div> 
            
            <div class="report">
                {{ scoreReport|safe }}        
            </div>
            <form class="view-image" action = "/view_image" method = 'POST' 
            enctype = "multipart/form-data">
                <button name="image" value="{{image}}" type="submit" class="btn btn-success">View Image in Archive</button>
            </form>
            <form class="next" action ="/next_photo" method = 'POST' 
            enctype = "multipart/form-data">
                <button value= "next round" type="submit" class="btn btn-success">Play Next Round</button>
            </form>
        </div>
		{% if locked==1 %}
	    <div class="game-error">
		    You can only submit a score once for each photo
		</div>
	  {% endif %}
    </div>
	<script type="text/javascript">	
	var style = [{"featureType":"all","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"}]},{"featureType":"all","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#84d9f4"}]},{"featureType":"all","elementType":"labels.text","stylers":[{"visibility":"simplified"},{"color":"#5f7997"}]},{"featureType":"administrative.country","elementType":"geometry.fill","stylers":[{"color":"#e13a3a"}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#bfcce6"},{"saturation":"-76"}]},{"featureType":"landscape.man_made","elementType":"geometry.stroke","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#7e94ba"}]}]
    
    var flag = {    url: "../static/images/flag.png",
                    scaledSize: new google.maps.Size(30,30)       
               }
               
    var cross = {
                    url: "../static/images/cross.png",
                    scaledSize: new google.maps.Size(30,30)                                     
    
                }          
    
    var glat = {{glat}};
    var glong = {{glong}};
    var actlat = {{actlat}};
    var actlong = {{actlong}};   
    
    var bound = new google.maps.LatLngBounds();
    bound.extend(new google.maps.LatLng(parseFloat(actlat), parseFloat(actlong)))
    bound.extend(new google.maps.LatLng(parseFloat(glat), parseFloat(glong)))
    var center = bound.getCenter()
    
    var map = new google.maps.Map(document.getElementById('map'), {zoom: 15, styles: style, center: center, mapTypeId: google.maps.MapTypeId.ROADMAP});    
	var GuessMarker = new google.maps.Marker({position: new google.maps.LatLng(parseFloat(glat), parseFloat(glong)), map: map, icon:cross});
	var LocationMarker = new google.maps.Marker({position: new google.maps.LatLng(parseFloat(actlat), parseFloat(actlong)), map: map, icon:flag});
	   
    var line_coordinates = [
          {lat: actlat, lng: actlong},
          {lat: glat, lng: glong}          
        ];
        
    var lineSymbol = {
          path: 'M 0,-1 0,1',
          strokeOpacity: 1,
          scale: 4
        };
    var path = new google.maps.Polyline({
          path: line_coordinates,
          geodesic: true,
          strokeColor: '#000000',
          strokeOpacity: 0,
          icons: [{
            icon: lineSymbol,
            offset: '0',
            repeat: '20px'
          }]
        });
        
    path.setMap(map);
    
    </script>	
{% endblock %}
