{% extends "base.html" %}
{% block content %}
	{{ scoreReport|safe }}
	<div id="map" style="width: 500px; height: 400px;"></div>
	<script type="text/javascript">	
	var map = new google.maps.Map(document.getElementById('map'), {zoom: 14, center: new google.maps.LatLng(-43.531,172.632), mapTypeId: google.maps.MapTypeId.ROADMAP});
	var GuessMarker = new google.maps.Marker({position: new google.maps.LatLng(parseFloat({{glat}}), parseFloat({{glong}})), map: map, Label: '?'});
	var LocationMarker = new google.maps.Marker({position: new google.maps.LatLng(parseFloat({{actlat}}), parseFloat({{actlong}})), map: map, Label: '!'});
	</script>
	<form action = "/next_photo" method = 'POST' 
    enctype = "multipart/form-data">
		<input type = "submit" value="Next Photo"/>
	</form>
{% endblock %}
