{% extends "base.html" %}

{% block content %}
 <div class="row">
        <div class="col-sm-12">
		<p class="finished">Game finished, well done!<p>
		 <div class="final-score">
            <meter value="{{score}}" min="0" max="{{rounds * 5}}">{{score}} out of {{rounds * 5}}</meter>      
        </div>       
        <p class="distance">You were a total of {{difference}} m off from the actual locations for a score of {{score}}</p>	
         {% if message %}
                <p class="score-message">{{ message }}</h4>
         {% endif %}
        <div class="buttons">
			<div id="facebook" class="fb-share-button" data-href="http://127.0.0.1:5000/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5000%2F&amp;src=sdkpreparse">Share</a></div>
			<form id="play" action = "/start" method = 'POST'>
				<input type="hidden" name='length' value='{{gameSize}}'/>
				<button style="width:200px;height:50px;font-size:18px" value = "Start Game" class="btn btn-success">Play Again</button>                
			</form>
        </div>     
        </div>
		{% if table != "none" %}
		<div class="final-score">
        	<table>
                <tr>
				    <th>Rank</th>
					<th>User</th>
					<th>Score</th>
				</tr>
				{% for item in table %}
				    <tr>
					    <td>{{item['ranking']}}</td>
						{% if item['user']==user.username %}
						    <td>{{item['user']}} (That's you!)</td>
						{% else %}
						    <td>{{item['user']}}</td>
						{% endif %}
						<td>{{item['score']}}</td>
					</tr>
				{% endfor %}
			</table>
        </div>
		{% endif %}
{% endblock %}