{% extends "base.html" %}
{% block content %}
		<h1>You finished this set</h2><br>
		<h2>You were a total of {{difference}} m off from the actual locations</h2>
		{% if message %}
			<h2>{{ message }}</h2>
			<form class="navbar-form navbar-right" action = "/logout" method = 'POST' 
			enctype = "multipart/form-data">
				<button style="width:200px;height:50px;font-size:18px" value = "Start Game" class="btn btn-success">Return Home</button>  
			</form>
		{% else %}
			<form class="navbar-form navbar-right" action = "/start" method = 'POST'>
				<input type="hidden" name='length' value='{{gameSize}}'/>
				<button style="width:200px;height:50px;font-size:18px" value = "Start Game" class="btn btn-success">Start Again</button>                
			</form>
		{% endif %}
		{{table}}
{% endblock %}