{% extends "base.html" %}

{% block content %}
 <div class="row">
        <div class="col-sm-12">
		<p class="finished">Game finished, well done!<p>
		 <div class="final-score">
                {{table}}           
        </div>
        <p class="distance">You were a total of {{difference}} m off from the actual locations</p>	
         {% if message %}
                <p class="score-message">{{ message }}</h4>
            {% endif %}
        <div class="buttons">
			<form id="home" action = "/" method = 'GET' 
			enctype = "multipart/form-data">
				<button style="width:200px;height:50px;font-size:18px" class="btn btn-success">Return Home</button>  
			</form>
			<form id="play" action = "/start" method = 'POST'>
				<input type="hidden" name='length' value='{{gameSize}}'/>
				<button style="width:200px;height:50px;font-size:18px" value = "Start Game" class="btn btn-success">Play Again</button>                
			</form>
            </div>           
        </div>
        </div>
{% endblock %}