{% extends "base.html" %}
{% block content %}
	<div class="row">
	<div class="col-md-6">
	<img src="https://quakestudies.canterbury.ac.nz/store/download/part/{{PhotoNo}}" style="width: 100%;" />
	<h2>Where is this image?</h2>
	</div>
	<div class="col-md-6">
	<div id="map" style="width: 500px; height: 400px;"></div>
    <script type="text/javascript">	
	var map = new google.maps.Map(document.getElementById('map'), {zoom: 14, center: new google.maps.LatLng(-43.531,172.632), mapTypeId: google.maps.MapTypeId.ROADMAP});
	markers=[];
	google.maps.event.addListener(map,'click', function(event){
		for (var i=0; i < markers.length; i++){
			markers[i].setMap(null)
		}
		markers = [];
		var pos = event.latLng;
		var NewMarker = new google.maps.Marker({position: pos, map: map, Label: '!'});
		markers.push(NewMarker);
		document.getElementById('lat').value=pos.lat();
		document.getElementById('long').value=pos.lng();
	});
	</script>
      <form action = "/check" method = 'POST' 
         enctype = "multipart/form-data">
		 <input type="hidden" id="lat" name="latitude"/>
		 <input type="hidden" id="long" name="longitude"/>          
         <button class="btn btn-success" type="submit" name="photo" value="{{PhotoNo}}">Submit</button>
      </form>
	</div>
	</div>
{% endblock %}