{% extends "base.html" %}
{% block content %}
    
	<img class="thumb" src="https://quakestudies.canterbury.ac.nz/sites/default/files/styles/large/public/qsr-part_{{PhotoNo}}.jpeg?">
	<h2>Where is this image?</h2>
      <form action = "/set_values" method = 'POST' 
         enctype = "multipart/form-data">
		 <label for="latitude">lat</label>
         <input type = "text" name = "latitude" />
		 <label for="longitude">long</label>
		 <input type = "text" name = "longitude" />
         <button class="btn btn-success" name="photo" value = {{PhotoNo}}>Submit</button>   
      </form>
{% endblock %}