<div class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">   
        <div class=" fluid">
            <div class="navbar-header">        
                <a class="navbar-brand" style="padding:0 0" href="http://www.ceismic.org.nz">
                    <img style="height:9vh" alt="Brand" src="{{url_for('static', filename='images/CEISMIC_logo.png')}}">
                </a>          
            </div> 
            <div class="archive">
                <div class="about">
                    <a href="http://www.ceismic.org.nz/about" rel="noopener noreferrer" target="_blank">ABOUT</a>
                </div>
                <div class="contribute">
                    <a href="http://www.ceismic.org.nz/contribute" rel="noopener noreferrer" target="_blank">CONTRIBUTE</a>
                </div>
                <div class="explore">
                    <a href="http://www.ceismic.org.nz/search?q=" rel="noopener noreferrer" target="_blank">EXPLORE</a>
                </div>
            </div>               
            <div id="navbar" class="navbar-collapse collapse">
			    {% if request.path == '/' or request.path =='/logout' %}
				{% else %}
                    <form class="navbar-form navbar-right" action = "/" method = 'GET'>   
                        <button id="header-home" style="margin-right:10px" class="btn btn-success">Return Home</button>
                    </form>
                    {% if request.path != '/finish' %}					
                    <div class="stats">
                        <div class="round">    
                            <div class="stats_head">ROUND</div>
                            <div class="stats_value">{{round}}/{{rounds}}</div>
                        </div>
                        <div class="score">    
                            <div class="stats_head">SCORE</div>
                            <div class="stats_value">{{score}}</div>
                        </div>
                    </div>
					{% endif %}
                {% endif %}                    
				<div class="user-error">				    
                    {% if user_error != None %}
                        {{ user_error }}
					{% else %}
					{% if request.path == '/start'%}
						{% if guess_made == True %}
						    <p>Test</p>
						{% endif %}
					{% endif %}
					{% endif %}
                </div>
            </div>       
        </div>
    </nav>
</div>