html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 59px;
    margin-bottom: 20px;    
    }

.header {
    color: #ffffff;
}

.navbar, .fluid, .navbar-header, .navbar-brand{
    height: 80px;
}

.archive {
    float: left;
    margin: 0px 10px;
}

.archive a {
    color: #ffffff
}

.about, .contribute, .explore {
    float: left;
    padding: 25px 10px;
    font-family: 'Avenir Next LT W01 Bold', Arial, Tahoma, sans-serif;
    font-size: 16px;
}

.user-error {
    height: 20px;
    width: 370px;
    position: absolute;
    right: 10px;
    top: 50px;
    text-align: center;
}

.container {
    padding: 0 0;
    margin: 0 0;    
    width: 100vw;
}

.row {    
    height: 80vh;
}


.footer {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    position: absolute;
    max-height: 340px;
    font-size: 8px;     
    border-top: 7px solid #b9bb00;
    padding: 10px;
    
}

.creation {    
    float: right;
    width: 250px;
}



.intro {
    padding-bottom: 40px;
}

.score-table {
    padding-left: 8px;
}

.stats {    
    float: right;
    text-align: center;    
    margin: 15px 5px 15px 0px;    
    font-size: 15px;
}

.stats_head {
    color: grey;    
    font-size: 15px;
}

.score, .round {
    float: right;
    border-right: 1px solid grey;
    padding: 0 8px;
    color: #ffffff;
}

.welcome {
    float: right;
    color: #ffffff;
    font-size: 12px;
    padding: 15px;
}

table, td, th {
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid black;    
}

.final-score table {
	margin: 0 auto 0 auto;
}


.thumb {
max-width: 200px;
max-height: 200px;

}

.navbar-inverse {
    border-color: #b9bb00;
    border-width: 0 0 5px;
    background-color: #000000
}   

.navbar-inverse .navbar-text {
color: #ffffff;
}

.navbar-brand  img{
    clip: rect(0px, 0px, 10px, 0px);
}

.navbar-right {
padding-top: 5px;
margin-right: 1px;
}


.navbar-form  .form-control{
font-size: 8px;
}

.navbar-form  .form-control {
height: 50%;
}

.navbar-right  button {
font-size: 10px;
padding: 4px 8px;
}

#header-home {
    font-size: 15px;
    padding: 10px 15px;
}

.col-sm-6 {
    text-align:center;
}

.photo {    
    height: 80vh;
    text-align: center;
    
}

.photo-info {   
    color: #ffffff;
    float: left;
    font-size: 10px;
    
}

#map {    
    position: absolute;
    top: 0px;
}

.flashes {
	font-size: 20px;
	padding-bottom: 10px;
}

.guess {
    width: 100%;
    height: 10vh;  
    position: absolute;
    top: 70vh;
    text-align: center;
}

.next {    
    position: absolute;
    left: 50%;
    top: 70vh;
    width: 50%;
    
}

.view-image {
    position: absolute;
    left: 0;
    top: 70vh;
    width: 50%;
}

.next button, .view-image button {
    display: block;
    margin: auto;
    width: 30%;    
}

.game-error {
    position: absolute;
    width: 70vw;
    margin: 0 15vw;
    padding: 2rem 0; 
    top: 30vh;
    height: 10vh;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    background-color: rgba(96,96,96,0.9);
    border-radius: 10px;
}

.report {
    position: absolute;
    top: 60vh;
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding-top: 10px;
}


p {
    margin: 0 0 0 5px;
}

.buttons, .finished, .distance, .score-message {
    width: 100%;
    text-align: center;
}

.finished {    
    font-size: 40px;        
    padding-top: 100px;   
}

.distance {    
    font-size: 20px;
    width: 100%;    
}

.score-message {    
    font-size: 15px;
    width: 100%; 
    padding-top: 30px;
}



#play {
    margin: 50px 0px 50px 30%;
    float:left;
}

#facebook{
    margin: 50px 30% 50px 0px;
    float:right;
}

.final-score, .final-score p{
    height: 100px;
    width: 100%;
    text-align: center;
}

meter {
    width: 40%;
    margin-top: 40px;
    
}

