<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>CEISMIC Xplore</title>
        <script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAKo-dw8hYVazrmnpBjzIKbQduh3OkgXSQ" type="text/javascript"></script>	
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/app.css')}}" rel="stylesheet"> 
      <link rel="shortcut icon" href="{{url_for('static', filename='images/Xplore-favicon.ico')}}"/> 
    </head>	
      {% include 'header.html' %}    
    <body>  
    
    <div class="container">			
            {% block content %}
            <div class="row">
                <div class="col-sm-7">
                    <div class="intro">                        
                        <h3>Our city is changing every day</h3>    
                        <p>Roads open and close, landmarks come and go, and it's sometimes hard to know where you are.</p>
                        <p>In an ever-changing landscape, we can lose the
		           connection between the past and the present. Places                            we used to know are unfamiliar and streets have a whole 
                           new feel. Maybe you find yourself standing on a
                           corner, wondering, <i>what used to be here?</i></p>
                        <p>For the past six years, <a href="www.ceismic.org.nz">CEISMIC</a> has been recording these changes. This game takes a series of images from the archive and asks you to locate them on a map of the Four Avenues. Challenge your friends to test their own knowledge and see how you measure up!</p>
			<p>CEISMIC Xplore is about remembering and reconnecting. Xplore our city in a new and fun way!</p>
			{% set i = 0 %}
                    </div>
                    <div class="score-tables">
                        {% for table in tables %}
							
								<table>
                                                                   <caption>{{titles[i]}} PHOTOS</caption>                                  
								    <tr>
									    <th>Rank</th>
										<th>User</th>
										<th>Score</th>
								    {% for item in table %}
									    <tr>                                        
                                            <td>{{item['ranking']}}</td>    
                                            <td>{{item['user']}}</td>  
                                            <td>{{item['score']}}</td>  											
										</tr>
									{% endfor %}
                                </table>									
								{% set i = i+1 %}							
                        {% endfor %}
                    </div>                     
                </div>
                <div class="col-sm-5">
                    <div class="slideshow">
                        <div class="carousel-item">
                            <img class="mySlides"  src="/static/images/carousel/copthorne.jpg"/>
                            <div class="carousel-caption">
                                BeckerFraserPhotos CC BY-NC-ND 3.0
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="mySlides" src="{{url_for('static', filename='images/carousel/bricks.jpg')}}"/>
                            <div class="carousel-caption">BeckerFraserPhotoos CC BY-NC 3.0</div>
                        </div>
                        <div class="carousel-item">
                            <img class="mySlides" src="{{url_for('static', filename='images/carousel/Colombo.jpg')}}"/>  
                            <div class="carousel-caption">Gregor Ronald's CC BY-SA 2.0</div>  
                        </div>
                        <div class="carousel-item">
                            <img class="mySlides" src="{{url_for('static', filename='images/carousel/hotelgrandchancellor.jpg')}}"/>
                            <div class="carousel-caption">BeckerFraserPhotoos CC BY-NC 3.0</div>
                        </div>
                        <div class="carousel-item">
                            <img class="mySlides" src="{{url_for('static', filename='images/carousel/hutchinson.jpg')}}"/>
                            <div class="carousel-caption">Wellington Emergency Management Office CC BY-NC-SA 3.0 NZ</div>
                        </div>
                        <div class="carousel-item">
                            <img class="mySlides" src="{{url_for('static', filename='images/carousel/mckenzie.jpg')}}"/>                        
                            <div class="carousel-caption">BeckerFraserPhotos CC BY-NC 3.0</div>
                        </div>
                        <div class="carousel-item">
                            <img class="mySlides" src="{{url_for('static', filename='images/carousel/RandR.jpg')}}"/>
                            <div class="carousel-caption">Umut Akguzel CC BY-NC-ND 3.0</div>
                        </div>
                        <div class="carousel-item">
                            <img class="mySlides" src="{{url_for('static', filename='images/carousel/remembrance.jpg')}}"/>
                            <div class="carousel-caption">
                                BeckerFraserPhotoos CC BY-NC-ND 3.0
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="mySlides" src="{{url_for('static', filename='images/carousel/restart.jpg')}}"/>
                            <div class="carousel-caption">FESTA CC BY-NC 3.0</div>
                        </div>
                        <div class="carousel-item">
                            <img class="mySlides" src="{{url_for('static', filename='images/carousel/Rodd & Gunn.jpg')}}"/>
                            <div class="carousel-caption">
                                BeckerFraserPhotoos CC BY-NC 3.0
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="mySlides" src="{{url_for('static', filename='images/carousel/Strip.jpg')}}"/>
                            <div class="carousel-caption">Umut Akguzel CC BY-NC-ND 3.0</div>
                        </div>
                        <div class="carousel-item">
                            <img class="mySlides" src="{{url_for('static', filename='images/carousel/Tuam.jpg')}}"/>
                            <div class="carousel-caption">Jaren Cantlon CC BY-NC 3.0</div>
                        </div>
                    </div>                    
                    <div class="start-game">
                        <form id="start" action = "/start" method = 'POST'>
                            <label class="gamesize-label" for="5">5</label>
                            <input class="gamesize-input" type="radio" name="length" value="5" id="5" checked>
                            <label class="gamesize-label" for="10">10</label>
                            <input class="gamesize-input" type="radio" name="length" value="10" id="10">
                            <label class="gamesize-label" for="20">20</label>
                            <input class="gamesize-input" type="radio" name="length" value="20" id="20">
                            <p style="float:left;margin-left:1rem">photographs</p>
                            <br/>
                            <button id="start-button" value = "Start Game" class="btn btn-success">Start Game</button>                
                        </form> 
                    </div>       
                </div>				
            </div>
            {% endblock %}
    </div>
                      
                {% include 'footer.html' %}
           

    <script>
       var slideIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var captions = document.getElementsByClassName("carousel-caption");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
      captions[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    captions[slideIndex-1].style.display = "block";
    setTimeout(carousel, 3000);
}
    </script>
</body>
</html>

