<!doctype html>
<html>
	<body>
		<h2>{{lat}}, {{long}} is in this location</h2>		
		<iframe width="300" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB6RMRQRaSaFs3eKtk3JxRn7vNtQX5MQ38&q={{lat}},{{long}}&center=-43.5321,172.6362&zoom=13"></iframe> 	    
		<form action ="http://localhost:5000/geoguess/check/{{photo}}" method = 'POST' 
         enctype = "multipart/form-data">
		<input type="hidden" name="latitude" value={{lat}}>
		<input type="hidden" name="longitude" value={{long}}>
		<input type = "submit" value = "Confirm Answer"/>
		</form>	
	</body>
</html>