{% extends "base.html" %}

{% block content %}
 <div class="row">
        <div class="col-sm-12">
		<p class="finished">Game finished, well done!<p>
		 <div class="final-score">
            <meter value="{{score}}" min="0" max="{{rounds * 100}}">{{score}} out of {{rounds * 5}}</meter>      
        </div>       
        <p class="distance">You were a total of {{difference}} m off from the actual locations for a score of {{score}}</p>	
         {% if message %}
                <p class="score-message">{{ message }}</h4>
         {% endif %}
		<div class="final-score">
		{% if highscore != None %}
			{{ highscore }}
		{% else %}
			<p>Your score is in the top five of this category to date!</p>
            <p>Please enter your name for the leaderboards:</p>
			<form action = "/submit" method = 'POST'>
				<input type="text" name="player" maxlength="11"/>               
				<button value = "Start Game" class="btn btn-success">Submit Score</button>
			</form>
		{% endif %}
		</div>
        <div class="buttons">			
			<form id="play" action = "/start" method = 'POST'>
				<input type="hidden" name='length' value='{{gameSize}}'/>
				<button style="width:200px;height:50px;font-size:18px" class="btn btn-success">Play Again</button>                
			</form>
            <form id="share">
				<input type="hidden" name='length' value='{{Score}}'/>
				<button id="facebook" style="width:200px;height:50px;font-size:18px;background: url({{url_for('static', filename='images/fb-art.png')}});background-size: 200px 50px; background-repeat: no-repeat" class="btn btn-success">Share your score</button>                
			</form>
        </div>     
        </div>
		<script>
            document.getElementById('facebook').onclick = function() {
              FB.ui({
                method: 'share',
                display: 'popup',
                href: 'http://xplore.ceismic.org.nz',           
                quote: 'I got a score of ' + {{score}} + ' on CEISMIC Xplore!',
                description: "This game takes a series of images from CEISMIC archive and asks you to locate them on a map of CHCH's Four Avenues. Challenge your friends to test their own knowledge and see how you measure up! CEISMIC Xplore is about remembering and reconnecting. Xplore our city in a new and fun way!",
              }, function(response){});
            }
</script>
{% endblock %}
