<!doctype html>
<html>
   <body>
	{% if difference>=0 %}
	<h2> You last guess was {{difference}} m away from the actual location </h2>
	{% endif %}
	<img src="https://quakestudies.canterbury.ac.nz/sites/default/files/styles/large/public/qsr-part_{{photo}}.jpeg?">
	<h2>Where is this image?</h2>
      <form action = "http://localhost:5000/geoguess/check/{{photo}}" method = 'POST' 
         enctype = "multipart/form-data">
		 <label for="latitude">lat</label>
         <input type = "text" name = "latitude" />
		 <label for="longitude">long</label>
		 <input type = "text" name = "longitude" />
         <input type = "submit"/>
      </form>      
   </body>
</html>