<!doctype html>
<html>
   <body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<h1>{{ message }}</h1>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<img src="https://quakestudies.canterbury.ac.nz/sites/default/files/styles/large/public/qsr-part_{{photo}}.jpeg?">
	<h2>Where is this image?</h2>
      <form action = "http://localhost:5000/geoguess/check/{{photo}}" method = 'POST' 
         enctype = "multipart/form-data">
		 <label for="latitude">lat</label>
         <input type = "text" name = "latitude" />
		 <label for="longitude">long</label>
		 <input type = "text" name = "longitude" />
         <input type = "submit"/>
      </form>
	{% if guess != 0 %}
		<h2>{{guess}} is in this location</h2>
		<iframe width="300" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB6RMRQRaSaFs3eKtk3JxRn7vNtQX5MQ38&q={{guess}}center=-43.5321,172.6362&zoom=13" /iframe> 
		<form action ="http://localhost:5000/geoguess/check/{{photo}}" method = 'POST' 
         enctype = "multipart/form-data">
			<input type = "submit" value = "Confirm Answer"/>
		</form>		    
    {% endif %}
   </body>
</html>