<div class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">   
        <div class="container-fluid">
            <div class="navbar-header">        
                <a class="navbar-brand" style="padding:0 0;margin-left:0" href="http://www.ceismic.org.nz">
                    <img alt="ceismic-logo" src="{{url_for('static', filename='images/CEISMIC_logo.png')}}">
                </a>
               <a class="navbar-brand" style="padding: 0 0; margin-left:0" href="/"><img alt="xplore-logo" src="{{url_for('static',
 filename='images/Xplore_logo_white.png')}}"></a>          
            </div> 
           {% if request.path == '/' %}
            <div class="archive">
                <div class="about">
                    <a href="http://www.ceismic.org.nz/about" rel="noopener noreferrer" target="_blank">ABOUT CEISMIC</a>
                </div>
                <div class="contribute">
                    <a href="http://www.ceismic.org.nz/contribute" rel="noopener noreferrer" target="_blank">CONTRIBUTE</a>
                </div>
            </div>               
	{%else%}
            <div id="navbar" class="navbar-collapse collapse">	
                    <form class="navbar-form navbar-right" action = "/" method = 'GET'>   
                        <button id="header-home" style="margin-right:10px" class="btn btn-success">Return Home</button>
                    </form>
               			
                    <div class="stats">
                        <div class="round">    
                            <div class="stats_head">ROUND</div>
                            {% if request.path == '/finish' %}
                            <div class="stats_value">{{round - 1}}/{{rounds}}</div>
                            {%else%}
                            <div class="stats_value">{{round}}/{{rounds}}</div>
                            {% endif %}
                        </div>
                        <div class="score">    
                            <div class="stats_head">SCORE</div>                            
                            <div class="stats_value">{{score}}</div>
                        </div>
                    </div>
	                {% endif %}
                </div>
            </div>       
        </div>
    </nav>
</div>
